.x1t4qh4s {background-color: red;}
.xf50hv5 {font-size: 100px;}
@media (min-width:768px) {.xuwapy6 {background-color: yellow;}}
.x142c91x {background-color: blue;}
@media (min-width:768px) {.x15bxnfn {background-color: green;}}
.x9ni3wd {font-size: 16px;}
.x1ijcxwh {padding: 30px;}
.x19sva4t {color: white;}
.x1v14po8 {padding: 20px;}